# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres:aselolee@localhost:5432/tripnesia_db?schema=public"

# AUTHENTICATION & JWT
JWT_SECRET="74fa8655befbdd2b5b097fb11e406653b593c0110a388ee2b94eab09f8a215ac"
JWT_REFRESH_SECRET="dd8811e5d258e9e19cf7b9641327964bbf547e17fe985eef31a2fef170de7e2d"

# ==========================================
# MICROSERVICES CONFIGURATION
# ==========================================
NOTIFICATION_SERVICE_HOST=127.0.0.1
NOTIFICATION_SERVICE_PORT=9002

USER_SERVICE_HOST=127.0.0.1
USER_SERVICE_PORT=9003

# JWT CONFIGURATION
JWT_EXPIRES_IN=15m